<section class="section_categorias">
    <div class="row">

        <div class="col">
            <div class="info">
                <p class="photo_title">hombre</p>
                <button class="button-buy">Comprar</button>
            </div>

            <img src="../../../assets/img/hombre.jpg" alt="" srcset=""></div>
        <div class="col"><img src="../../../assets/img/mujer.jpg" alt="" srcset=""></div>
        <div class="col"><img src="../../../assets/img/niños.jpg" alt="" srcset=""></div>

    </div>
</section>