<section class="section_categorias">
    <div class="row">

        <div class="col_1">
            <div class="info">
                <p class="photo_title">hombre</p>
                <button class="button-buy">Comprar</button>
            </div>
        </div>
        <div class="col_2">
            <div class="info">
                <p class="photo_title">Mujer</p>
                <button class="button-buy">Comprar</button>
            </div>
        </div>
        <div class="col_3">
            <div class="info">
                <p class="photo_title">Niños</p>
                <button class="button-buy">Comprar</button>
            </div>
        </div>

    </div>
</section>