/* ========================= */

//      Global Styles
@import '../../../styles.scss';

/* ========================= */

.navbar {
    background-color: $primary;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    .tiendas {
        color: $title;
    }
    .logo {
        color: $title;
        margin-left: 90px;
        font-size: 1.6em;
        font-weight: 900;
    }
    .links {
        display: flex;
        list-style: none;
        .link {
            padding: 0 15px;
            & a {
                text-decoration: none;
                color: $title;
                &:hover {
                    border-bottom: 2px solid $title;
                }
            }
        }
    }
}

.options {
    background-color: $title;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    .options_list {
        display: flex;
        list-style: none;
        .item {
            color: #fff;
            font-size: 1.2em;
            padding: 25px 15px;
            margin: 0 30px;
            cursor: pointer;
            &:last-child {
                color: $text;
            }
        }
    }
}

.descuento {
    background-color: $text;
    padding: 15px 0;
    & p {
        text-align: center;
        color: #fff;
        font-weight: 700;
        & span {
            font-size: 1.2em;
        }
    }
}