/* You can add global styles to this file, and also import other style files */


/* font-family: 'Inconsolata', monospace; */


/* ===================== */

// Colors
$primary: #94B0DA;
$second: #007EA7;
$background: #FFFFFF;
$background-2: #00A8E8;
$text: #00171F;
$title: #FF4A1C;

/*
//  Font-sizes
font-weight: 200;
font-weight: 400;
font-weight: 600;
font-weight: 700;
font-weight: 900;
*/


/* ===================== */

html,
body {
    height: 100%;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inconsolata', monospace, sans-serif;
}


/* ==================== */

//      Containers
.container_small {
    padding: 10px 15px;
}

.container_mid {
    padding: 20px 30px;
}

.container_lrg {
    padding: 30px 45px;
}


/* ==================== */