<footer class="footer">

    <div class="row">
        <div class="col">
            <p>Tus Pedidos</p>
            <ul>
                <li>Pedidos</li>
                <li>Envíos</li>
                <li>Devoluciónes</li>
            </ul>
        </div>
        <div class="col">
            <p>Clientes</p>
            <ul>
                <li>¿Como ayudarte?</li>
                <li>Contactanos en cualquier<br> momento.</li>
                <li>Guia de tallas</li>
            </ul>
        </div>
        <div class="col">
            <p>Sobre Nosotros</p>
            <ul>
                <li>Nosotros</li>
                <li>Responsabilidad social</li>
                <li>Sala de prensa</li>
                <li>Terminos y condiciones</li>
                <li>Privacidad y Cookies</li>
                <li>Aviso legal</li>

            </ul>
        </div>
        <div class="col">
            <p>Tarjetas de Credito</p>
            <div class="payments">
                <i class="fab fa-paypal fa-2x"></i>
                <i class="fab fa-cc-amex fa-2x"></i>
                <i class="fab fa-cc-visa fa-2x"></i>
                <i class="fab fa-cc-mastercard fa-2x"></i>
            </div>
        </div>
    </div>

    <div class="form">
        <p-dropdown placeholder="Select a city" [options]="cities1"></p-dropdown>
    </div>

</footer>